/*-----------------Overall Elements -----------------------*/
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #eaeaea;
}

textarea {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

}

html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#app {
  width: 100%;
  margin: 0px;
  padding: 0px;
}


table {
  text-align:center;
  border:0.25px #cacaca solid;
  width: 100%;
}

tr {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

th {
  text-decoration: none;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-h1 {
  font-size: 2em;
  margin-bottom: 35px;
}

.hover-pointer {
  cursor:pointer;
}
.expand-image {
  position: absolute;
  height: 30px;
  width: 30px;
}

.item-selector {
  margin-top: 120px;
}

.top-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 50px;
  top:0px;
  left:0px;
  background-color: white;
  border-bottom: 0.5px #cacaca solid;
  z-index: 20;
}

.account-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.flex-row {
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.flex-row-simple {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
}
.flex-row-simple-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:90%;

}
.flex-row-custom {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
  width: 30px;
}

.flex-column {
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.btn {
  margin: 5px;
  width: 30%;
  height: 35px;
  border: 2px solid #999;
  background-color: #ffffff;
  cursor: pointer;
}

.form-btn {
  width: 13%;
  height: 30px;
  border: 2px solid #999;
  background-color: #ffffff;
}

.right-side-bar {
  height: 100%;
  width: 15%;
}

/*------------------Containers----------------------------*/
.main-container {
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: row;
}

.main-content-container {
  width: 100%;
  height: 100%;
}

.home-container {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.noncreate-container {
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
}
.create-container {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
}
/*----------------------Elements -------------------*/

.elements-container {
  width: calc(100vw - 200px);
  display:flex;
  margin-left: 250px;
  flex-direction: column;
  background-color:transparent;
  align-items: center;


}
.sort-bar {
  width: 65%;
  height: 60px;
  margin-top: 50px;
  background-color: #eaeaea;
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom:  0.25px #cacaca solid;
}
.sort-bar-overlay {
  margin-top: 50px;
  width: 85%;
  height: 60px;
  z-index: 4;
  background-color: #eaeaea;
  position: fixed;
}
.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date-selecter {
  appearance: none;
  border:none;
  margin-left: 10px;
  font-size: 20px;
  color: #757575;
  font-weight: 600;
}
.date-selecter:focus {
  outline: none;
}
.date-selecter option{
  padding: 0 4px;
}

.date-label {
  font-weight: 400;
  color: #757575;
  width: 60px;
}
/*point the arrow upwards when the select box is open (active):*/
#date.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}


/*----------------------Sidebar -------------------*/
.sidebar-container {
  position:fixed;
  height:100%;
  left: 0%;
  width: 250px;
  background-color: #FADFDD;
  border-right: 0.25px #cacaca solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.sidebar-items{
  padding:5px;
}

.logo-container{
  cursor:pointer;
  font-size: 24px;
  margin:10px;
  font-weight: 500;
}

/*----------------------Nav bar -------------------*/
.navbar-create {
  height: 7%;
  width: 20%;
  display: flex;
  flex-direction: row;
  margin-left: 79%;
  margin-top: 25px;

}
.right-sidebar-container {
  position:fixed;
  margin-right: 0;
  background-color: transparent;
  width: 15%;
  right: 0%;
  display:flex;
  flex-direction: column;
  height: 100%;
  background-color: #FADFDD;
;

}

.nav-btn {
  font-size: 1.2em;
  background-color: transparent;
  border:none;
  color: #040404b5;
  width: 80px;
  padding: 0px;
  height: 21px;
  justify-content: center;
  display: flex;

  margin-right: 7px;
}

.nav-link {
  text-decoration: None;
  color: #868686;
  width: 100%;
  height: 100%;
  text-align: center;
}

.nav-btn:hover{
  transition: all 0.1s ease;
  transform: translatey(-4px);
}

.links-container{
  width: 520px;
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  height: 100%;
}

.sign-in-container {
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.create-btn {
  width: 100px;
  cursor: pointer;
  border-right:1px #d6d3d3 solid;
  height: 35px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 21px;
  color:#b9b9b9;
}

.create-btn:hover{
  color: #abb4fb;
}

.input-style {
  padding: 8px;
  border: 1px solid #ccc;
  position: relative;
  background:transparent;
  background-color: #ffffff;
  width: 65%;
  margin-bottom: 10px;
}
.input-style:focus {
  transition: 0.2s;
  background-color: #ededed;
  outline: 0;
}

.element {
  width: 13%;
  margin-right: 2%;
}

.sign-in-input-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  height: 300px;
}

.register-input-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:350px;
  height: 350px;
}
/**----------------------------CreationSection --------------------------------------*/
.editor-container {
  width: 85%;
  margin-left: 15%;
  margin-top: 50px;
  height: calc(100vh - 50px);

  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #39393e;
}

.editor-container-expanded-creation{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  height: calc((100vh - 50px) - (60vw * 0.42) - 65px);
}

.editor {
  width: 48%;
  height: 370px;
  margin: 0.5%;
}

.editor-container-expanded {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  height: 300px;
}

.wrapper {
  height: 100%;
  width:63%;
  background-color: #39393e;
}

.editor-expanded {
  width: 49.5%;
  height: 100%;

}

.textarea-form {
  resize: none;
}


.display {
  width: 80%;
  height: 350px;
  margin: 1%;
  border:0.25px #cacaca solid;
}

.creation-form {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

.error-span {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------Info Container-------------------------------*/
.info-container {
  border-radius: 15px;
  width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  height: 250px;
  align-items: center;
  background-color:transparent;
  position: relative;

}
.info-container-expanded {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 98%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  background-color: #39393e;
}

.info-container-link {
  text-decoration: none;
  color: #f7f7f7;
  margin-left: 3px;
}

.iframe-display {
  width: 100%;
  height: calc(60vw * 0.42);
  border-top:0.15px #cacaca50 solid;
  background-color: white;
}
.info-btn {
  cursor: pointer;
}
.info-btn-expanded {
  height: 30px;
  background-color: white;
  color: #f7f7f7;
  border: none;
}


.info-display-container{
  height:170px;
  width:100%;
  overflow:hidden;
  position: relative;
  z-index: 3;
  background-color: white;
}

.info-display-expanded {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border:0.25px #cacaca solid;
}
.info-click-overlay {
  width: 100%;
  height: 170px;
  position:absolute;
  background-color:transparent;
  top:40px;
  z-index: 5;
  cursor: pointer;
}

.overlay-click {
  width: 400px;
  height: 225px;
  position: absolute;
  background-color:transparent;
}



.listing-container{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  background-color:  ;
  margin-top: 130px;

}

.info-minimize-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 2px;
}
.info-info-container-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  background-color: #39393e;
  height: 40px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
}
.info-info-container-bottom{
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
  border-top:0.25px #cacaca solid;
  border-bottom:0.25px #cacaca solid;
  height: 40px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
  background-color: #39393e;
}

/*-----------------------------UserView-----------------------*/
.user-info-container {
  margin-top: 80px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  width: calc(100vw - 250px);
  margin-left: 250px;
}

.user-display {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.user-sort-bar {
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:0.25px #cacaca solid;
  position:relative;
  z-index: 5;
}

.user-button-container {
  width:100%;
  height:45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top:0.25px #cacaca solid;
  background-color: #39393e;
}

/*------------------------------Account-----------------------*/
.account-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.account-listing {
  margin-left: 10px;
  font-size: 14px;
}
.account-container {
  width: 375px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
al {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;

}

ac {
  font-size: 16px;
  font-weight: 600;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 150px;
            resize: vertical;
            border: 0.25px #cacaca solid;
}

.account-input-style {
  width: 99%;
  height: 30px;
  margin-top: 5px;
  border: 0.25px #cacaca solid;
  padding: 2px;
}
/*-------------------------Leaderboard--------------------------------*/
.leaderboard-container {
  position:relative;
  width:500px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.leaderboard-listing {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
